/vendor
/node_modules
.env
.idea
/public/storage/*
/public/static/*
/public/media/*
/public/js
/public/css
/storage/app
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/tests/_output
/tests/_envs
public/mix-manifest.json
public/mix.js
/nbproject/
yarn-error.log